{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

    
    <div class="container">
        <div class="row justify-content-center text-center pt-5 mt-4 m-5">
            <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 bg-light">
                <div class="form-group pt-5">
                    <div class="form-floating">
                        <h1>Panel de usuario</h1>
                        <br><br>
                        <div class="col-12">
                            
                            <a class="btn btn-primary" href="#" role="button">Estudiantes</a>
                            <a class="btn btn-primary" href="#" role="button">Boletines</a>
                            <br><br>
                            <a class="btn btn-primary" href="#" role="button">Fichas</a>
                            <a class="btn btn-primary" href="#" role="button">Proceso integral</a>
                            <br><br>
                            <a class="btn btn-primary" href="{% url 'users_app:usuarios' %}" role="button">Administrador</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

{% endblock content %} 


